*/.DS_Store
.vscode/*
.prettier*
.DS_Store
**/__pycache__/
.scripts/ai_data/data/*
.scripts/ai_data/venv/*
.scripts/ai_data/.env
.scripts/ai_data/update.log
.scripts/migrate/venv/*
.scripts/migrate/convert.log
.scripts/migrate/dist/*
.scripts/check/sidebars_result.json
.scripts/check/check_link_result.json
.scripts/check/link_whitelist.json
.scripts/check/images
.scripts/api/raw_data/*
**/open-api-desc.mdx
**/.translation-progress.json
**/preprocess_result.json
**/scan_result.json
**/scan_result_clean.json
